<html>
  <head>
    <title>Marker's Report</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  </head>
  <body style="padding-bottom: 100px;">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Marker's Report</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="btn btn-primary" href="/papers/new">New Report</a>
          </nav>
        </div>
      </header>
      <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Marker's Report</h1>
      </div>
    </div>