<%- include("../partials/header.ejs") %>
<div class="container">
  <h2>Create a new report</h2>
  <form method="POST" action="/papers">
    <div class="mb-3">
      <label for="assessment" class="form-label">Assessment:</label>
      <input type="text" name="assessment" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author:</label>
      <input type="text" name="author" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="publishedDate" class="form-label">Published Date:</label>
      <input type="datetime-local" name="publishedDate" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="topics" class="form-label">Topics tested:</label>
      <textarea name="topics" class="form-control"></textarea>
    </div>
    <div class="mb-3">
      <label for="mcqcomments" class="form-label">Comments for multiple choice questions:</label>
      <textarea name="mcqcomments" class="form-control"></textarea>
    </div>
    <div class="mb-3">
      <label for="sqcomments" class="form-label">Comments for structured questions:</label>
      <textarea name="sqcomments" class="form-control"></textarea>
    </div>
    <div class="mb-3">
      <label for="eqcomments" class="form-label">Comments for extended answer questions:</label>
      <textarea name="eqcomments" class="form-control"></textarea>
    </div>
    <div>
      <input type="submit" class="btn btn-primary mb-3" value="Create new report" />
    </div>
  </form>
</div>
<%- include("../partials/footer.ejs") %>
